body {
    margin: 50px auto;
}

.my-data {
    /* display: flex; */
    /* flex-wrap: wrap; */
    background-color: antiquewhite;
    width: 100%;
}

.data-blocks {
    margin: 5px;
    padding: 5px;
    width: fit-content;
    border: 1px solid black;
    height: fit-content;
}
